:root {
  --bg: #0F172A;
  --card: #1E293B;
  --primary: #8B5CF6;
  --accent: #22D3EE;
  --text: #E5E7EB;
  --muted: #94A3B8;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;

  background: radial-gradient(circle at 20% 20%, #1E1B4B, transparent),
              radial-gradient(circle at 80% 80%, #0EA5E9, transparent),
              var(--bg);

  color: var(--text);
  min-height: 100vh;
}
.app {
  background: rgba(30, 41, 59, 0.8);
  backdrop-filter: blur(10px);

  width: 90%;
  max-width: 500px;

  margin: 100px auto;
  padding: 30px;

  border-radius: 20px;
  text-align: center;

  border: 1px solid rgba(255,255,255,0.05);
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--muted);
}
.btn {
  width: 100%;
  margin: 10px 0;
  padding: 12px;

  background: var(--card);
  color: var(--text);

  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 12px;

  cursor: pointer;
  transition: all 0.2s ease;
}
.btn:hover {
  border-color: var(--primary);
  box-shadow: 0 0 10px var(--primary);
  transform: translateY(-2px);
}
.correct {
  background: rgba(34, 211, 238, 0.15);
  border-color: var(--accent);
  box-shadow: 0 0 12px var(--accent);
}

.incorrect {
  background: rgba(239, 68, 68, 0.3); 
  border-color: #EF4444;               
  box-shadow: 0 0 12px #EF4444;        
  color: #FECACA;
}
#next-btn {
  margin: 20px auto 0 auto;
  padding: 12px 20px;

  background: linear-gradient(135deg, var(--primary), var(--accent));
  border: none;
  border-radius: 12px;

  color: white;
  font-weight: bold;

  cursor: pointer;
  display: none;

  transition: 0.2s;
  
}

#next-btn:hover {
  transform: scale(1.05);
}